# My first Python jupyter Notebook
this is my first jupyter notebook

In [1]:
#Print is used to print text or values of a variable
#To look up what Print function does (using ? symbol). This can be applied to any python function
?print

In [2]:
# The '#' character allows you to add comments about your code
# alphanumeric characters in quoatations simples '' or  doubles ""
print('Hello world from Jupyter Notebook!')
print("Hello world from Jupyter Notebook!")

Hello world from Jupyter Notebook!
Hello world from Jupyter Notebook!

In [4]:
#Assigning a value into a variable. In this case, alphanumeric characters
firstVariable = 'Hello world from Jupyter Notebook!'
secondVariable = "Hello world from Jupyter Notebook!"
#Printing the values of the variables 
print(firstVariable)
print(secondVariable)

Hello world from Jupyter Notebook!
Hello world from Jupyter Notebook!

In [3]:
total = 10 + 2
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, total, sep = "/", end = ".")

1/2/3/4/5/6/7/8/9/10/12.

### Headings

# Biggest Heading
## Sub Heading
### Sub Sub Heading
#### Sub Sub Sub Heading

### Numbered Lists
1. Item 1
1. Item 2
1. Item 3
    1. Item 3.1
    1. Item 3.2

### Dot Points
* Point 1
* Point 2
    * Subpoint 2.1
* Point 3

### Emphasis
*Italic*
**Bold**

### Line
***

### Math Symbols
$x=5^2$

In [6]:
print("Hello World Jiayu Huang")

Hello World Jiayu Huang

* [x] *Week 1* **Topic 1** Done

In [9]:
age = 24
print("my age is " + str(age))

my age is 24

In [23]:
age = 24
print("my age is", age)

my age is 24

In [13]:
# integer -> int
daysOfWeek = 7
#Float or decimal
Pi = 3.14159
#boolean -> bool
isMyFirstVariable = False
#String --> you can use single or double quotation
name = 'John'

# you can print out the value of a variable by just typing its name
Pi, isMyFirstVariable, name

(3.14159, False, 'John')

In [14]:
# Example 2 - this code display what type is a varible using the function type (variable name)
type (daysOfWeek)

int

In [16]:
a = 10
a = "hello"
print(a)

hello

In [19]:
a = 2.578888888888888888
b = 5.678
c = a*b
b = 16.89
print(a,b,c)

2.578888888888889 16.89 14.64293111111111

float有精度上限

In [21]:
a = 2.57888888888888
b = 5.678
c = a*b
b = 16.89
print(a,b,c)

2.57888888888888 16.89 14.64293111111106

In [25]:
print(3 ** 2)
print(3 // 2)
print(3 % 2)

9
1
1

In [30]:
print(5 + 10 * 2 / 3)
print((5 + 10) * 2 / 3)
print(5 + (10 * 2) / 3)
print(5 + 10 * (2 / 3))

11.666666666666668
10.0
11.666666666666668
11.666666666666666

In [34]:
import math
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [35]:
import random
print("Random float number 1 is ", random.random())
print("Random float number 2 is ", random.random())
print("Random float number 3 is ", random.random())
print("Random float number 4 is ", random.random())
#Note: Every time this cell is executed, the generated numbers change

Random float number 1 is  0.24035018504480365
Random float number 2 is  0.4859736944734562
Random float number 3 is  0.23368866323750503
Random float number 4 is  0.033426134327801726

In [36]:
print("Random float between -3.5 and 8.3: ",  random.uniform(-3.5, 8.3)) #starting point -3.5, stopping point 8.3
print("Random float between 25.5 and 99.9: ",  random.uniform(25.5, 99.9)) #starting point 25.5, stopping point 99.9

Random float between -3.5 and 8.3:  -1.9337984252132119
Random float between 25.5 and 99.9:  51.525033332512606

In [39]:
# Example of random integer generation
randomNumber = random.randint(-7,10) #starting point -7, stopping point 10
print('Random integer between -7 and 10: ', randomNumber)
print('Random integer between 230 and 600: ', random.randint(230,600)) #starting point 230, stopping point 600
#Note: Every time this cell is executed, the generated numbers change

Random integer between -7 and 10:  10
Random integer between 230 and 600:  364

\begin{equation}
e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i
\end{equation}

| This | is   |
|------|------|
|   a  | table|

In [1]:
print("H", "e", "l", "l", "o", "!")

H e l l o !

This is the Wikipedia page of [Markdown](https://en.wikipedia.org/wiki/Markdown)

In [6]:
txt2 = "My name is {}, I am {}".format("David", 12)
print(txt2)

My name is David, I am 12

In [3]:
class TreeNode:
    def __init__(self, value=0, left=None, right=None):
        self.value = value
        self.left = left
        self.right = right
def pre_order_traversal(node):
    """Pre-order traversal order: Root -> Left -> Right"""
    if node is None:
        return  # Return if the node is empty/null    
    print(node.value, end=' ')
    pre_order_traversal(node.left)
    pre_order_traversal(node.right)
def in_order_traversal(node):
    """In-order traversal order: Left -> Root -> Right """
    if node is None:
        return  # Return if the node is empty/null
    in_order_traversal(node.left)
    print(node.value, end=' ')
    in_order_traversal(node.right)
def post_order_traversal(node):
    """Post-order traversal order: Left -> Right -> Root"""
    if node is None:
        return  # Return if the node is empty/null
    post_order_traversal(node.left)
    post_order_traversal(node.right)
    print(node.value, end=' ')
root = TreeNode(1)
root.left = TreeNode(2)
root.right = TreeNode(3)
root.left.left = TreeNode(4)
root.left.right = TreeNode(5)
pre_order_traversal(root)
in_order_traversal(root)
post_order_traversal(root)

1 2 4 5 3 4 2 5 1 3 4 5 2 3 1